<a href="https://colab.research.google.com/github/ReidelVichot/GrantAssistProgram/blob/main/grantassistantprogram%2011-9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import requests
from zipfile import ZipFile

In [2]:
#Update this variables
zip_url = "https://files.usaspending.gov/generated_downloads/PrimeAwardSummariesAndSubawards_2022-10-26_H15M37S47541905.zip"
zip_file = "PrimeAwardSummariesAndSubawards_2022-10-26_H15M37S47541905.zip"
csv_file = "Assistance_PrimeAwardSummaries_2022-10-26_H15M37S48_1.csv"

#Get the zip from the website
req = requests.get(zip_url, allow_redirects=True)

#Open the zip as a file
with open(zip_file, "wb") as file:
    file.write(req.content)

#Extract the zip
with ZipFile(zip_file, 'r') as zipObj:
   zipObj.extractall()

In [3]:
#Get the document as a csv
df = pd.read_csv(csv_file, low_memory= False)

In [4]:
#Name of Municipalities as appear on the Database
de_municipalities = ("BLADES, TOWN OF", "BOWERS, TOWN OF", "BRIDGEVILLE, COMMISSIONERS OF",
 "BRIDGEVILLE, TOWN OF", "CHESWOLD, TOWN OF", "CITY OF DOVER",
 "CITY OF NEWARK", "CITY OF WILMINGTON", "DAGSBORO, TOWN OF",
 "DELAWARE CITY, CITY OF", "DELMAR  DE TOWN OF", "DELMAR DELAWARE, TOWN OF",
 "DELMAR, DE TOWN OF", "DOVER, CITY OF (INC)", "DOWNTOWN MILFORD,  INC",
 "ELLENDALE  TOWN OF", "ELSMERE, TOWN OF", "GEORGETOWN  TOWN OF",
 "GEORGETOWN, TOWN OF", "GREENWOOD  TOWN OF", "HARRINGTON  CITY OF",
 "HARRINGTON, CITY OF", "LAUREL  TOWN OF", "LAUREL, TOWN OF",
 "MILFORD, CITY OF", "MILFORD, CITY OF (INC)", "MILLSBORO, TOWN OF",
 "MILTON, TOWN OF", "MILTON,TOWN OF", "NEW CASTLE, CITY OF", "NEWARK, CITY OF",
 "SEAFORD (INC), CITY OF", "SELBYVILLE, TOWN OF", "SELBYVILLE, TOWN OF , THE",
 "SLAUGHTER BEACH, TOWN OF", "SMYRNA, TOWN OF", "TOWBN OF LAUREL",
 "WILMINGTON CITY OF", "WILMINGTON, CITY OF")

de_counties = ('KENT COUNTY', 'KENT, COUNTY OF', 'NEW CASTLE, COUNTY OF',
               'NEW CASTLE COUNTY','SUSSEX CNTY, DELAWARE', 'SUSSEX COUNTY',
               'SUSSEX, COUNTY OF')

#Columns of interest
columns = ['recipient_name','total_funding_amount','assistance_type_description']
cities = df[columns]


cities = cities.set_index("recipient_name")
#If another city is added in the original databata, then it has to be added here.  
cities = cities.loc(axis=0)["BLADES, TOWN OF", "BOWERS, TOWN OF", "BRIDGEVILLE, COMMISSIONERS OF",
 "BRIDGEVILLE, TOWN OF", "CHESWOLD, TOWN OF", "CITY OF DOVER",
 "CITY OF NEWARK", "CITY OF WILMINGTON", "DAGSBORO, TOWN OF",
 "DELAWARE CITY, CITY OF", "DELMAR  DE TOWN OF", "DELMAR DELAWARE, TOWN OF",
 "DELMAR, DE TOWN OF", "DOVER, CITY OF (INC)", "DOWNTOWN MILFORD,  INC",
 "ELLENDALE  TOWN OF", "ELSMERE, TOWN OF", "GEORGETOWN  TOWN OF",
 "GEORGETOWN, TOWN OF", "GREENWOOD  TOWN OF", "HARRINGTON  CITY OF",
 "HARRINGTON, CITY OF", "LAUREL  TOWN OF", "LAUREL, TOWN OF",
 "MILFORD, CITY OF", "MILFORD, CITY OF (INC)", "MILLSBORO, TOWN OF",
 "MILTON, TOWN OF", "MILTON,TOWN OF", "NEW CASTLE, CITY OF", "NEWARK, CITY OF",
 "SEAFORD (INC), CITY OF", "SELBYVILLE, TOWN OF", "SELBYVILLE, TOWN OF , THE",
 "SLAUGHTER BEACH, TOWN OF", "SMYRNA, TOWN OF", "TOWBN OF LAUREL",
 "WILMINGTON CITY OF", "WILMINGTON, CITY OF"] 

#Removing Block grants
cities = cities[cities["assistance_type_description"] != "BLOCK GRANT (A)"]
#Removing Formula grants
cities = cities[cities["assistance_type_description"] != "FORMULA GRANT (A)"]
#Removing Coorporate agreement
cities = cities[cities["assistance_type_description"] != "COOPERATIVE AGREEMENT (B)"]
#------------------------------------------------------------------------------
#question: what should I do with 'PROJECT GRANT (B)'
#------------------------------------------------------------------------------

In [5]:
cities.reset_index().replace(to_replace=("BLADES, TOWN OF" , "BOWERS, TOWN OF"), value="Town of Blades")

,recipient_name,total_funding_amount,assistance_type_description
0,Town of Blades,615000.00,NaN
1,Town of Blades,100000.00,NaN
2,Town of Blades,484700.00,NaN
3,"BRIDGEVILLE, COMMISSIONERS OF",25000.00,NaN
4,"BRIDGEVILLE, COMMISSIONERS OF",25000.00,NaN
...,...,...,...
116,WILMINGTON CITY OF,56250.00,PROJECT GRANT (B)
117,WILMINGTON CITY OF,24991.00,PROJECT GRANT (B)
118,WILMINGTON CITY OF,24999.00,PROJECT GRANT (B)
119,"WILMINGTON, CITY OF",2023949.67,PROJECT GRANT (B)
120,"WILMINGTON, CITY OF",1601200.00,NaN

In [6]:
cities = cities.reset_index()
#Fixing the issues of names in the orginal data. This has to be updated each time that a new town is added

cities = cities.replace(to_replace=("CITY OF WILMINGTON", "WILMINGTON CITY OF", "WILMINGTON, CITY OF"), value="City of Wilmington")
cities = cities.replace(to_replace=("MILLSBORO, TOWN OF"), value="Town of Millsboro")
cities = cities.replace(to_replace=("LAUREL  TOWN OF", "LAUREL, TOWN OF", "TOWBN OF LAUREL"), value="Town of Laurel")
cities = cities.replace(to_replace=("HARRINGTON  CITY OF", "HARRINGTON, CITY OF"), value="City of Harrington")
cities = cities.replace(to_replace=("CITY OF DOVER", "DOVER, CITY OF (INC)"), value="City of Dover")
cities = cities.replace(to_replace=("MILFORD, CITY OF", "MILFORD, CITY OF (INC)", "DOWNTOWN MILFORD,  INC"), value="City of Milford")
cities = cities.replace(to_replace=("GEORGETOWN  TOWN OF", "GEORGETOWN, TOWN OF"), value="Town of Georgetown")
cities = cities.replace(to_replace=("CITY OF NEWARK", "NEWARK, CITY OF"), value="City of Newark")
cities = cities.replace(to_replace=("SMYRNA, TOWN OF"), value="Town of Smyrna")
cities = cities.replace(to_replace=("SELBYVILLE, TOWN OF", "SELBYVILLE, TOWN OF , THE"), value="Town of Selbyville")
cities = cities.replace(to_replace=("BLADES, TOWN OF"), value="Town of Blades")
#cities = cities.replace(to_replace=(), value="Town of Middletown")
#cities = cities.replace(to_replace=(), value="Town of Ocean View")
cities = cities.replace(to_replace=("BOWERS, TOWN OF"), value="Town of Bowers")
cities = cities.replace(to_replace=("DELAWARE CITY, CITY OF"), value="Town of Delaware City")
cities = cities.replace(to_replace=("CHESWOLD, TOWN OF"), value="Town of Cheswold")
#cities = cities.replace(to_replace=(), value="Town of Frankford")
#cities = cities.replace(to_replace=(), value="Town of Camden")
cities = cities.replace(to_replace=("SEAFORD (INC), CITY OF"), value="City of Seaford")
#cities = cities.replace(to_replace=(), value="Town of Dewey Beach")
cities = cities.replace(to_replace=("MILTON, TOWN OF", "MILTON,TOWN OF"), value="Town of Milton")
#cities = cities.replace(to_replace=(), value="Town of Clayton")
cities = cities.replace(to_replace=("DAGSBORO, TOWN OF"), value="Town of Dagsboro")
cities = cities.replace(to_replace=("DELMAR  DE TOWN OF", "DELMAR DELAWARE, TOWN OF", "DELMAR, DE TOWN OF"), value="Town of Delmar")
cities = cities.replace(to_replace=("BRIDGEVILLE, COMMISSIONERS OF", "BRIDGEVILLE, TOWN OF"), value="Town of Bridgeville")
#cities = cities.replace(to_replace=(), value="Town of Wyoming")
cities = cities.replace(to_replace=("ELSMERE, TOWN OF"), value="Town of Elsmere")
cities = cities.replace(to_replace=("SLAUGHTER BEACH, TOWN OF"), value="Town of Slaughter Beach")
cities = cities.replace(to_replace=("NEW CASTLE, CITY OF"), value="City of New Castle")
cities = cities.replace(to_replace=("GREENWOOD  TOWN OF"), value="Town of Greenwood")
cities = cities.replace(to_replace=("ELLENDALE  TOWN OF"), value="Town of Ellendale")
#cities = cities.replace(to_replace=(), value="Village of Arden")
#cities = cities.replace(to_replace=(), value="Village of Ardencroft")
#cities = cities.replace(to_replace=(), value="Village of Ardentown")
#cities = cities.replace(to_replace=(), value="Town of Bellefonte")
#cities = cities.replace(to_replace=(), value="Town of Bethany Beach")
#cities = cities.replace(to_replace=(), value="Town of Bethel")
#cities = cities.replace(to_replace=(), value="Town of Farmington")
#cities = cities.replace(to_replace=(), value="Town of Felton")
#cities = cities.replace(to_replace=(), value="Town of Fenwick Island")
#cities = cities.replace(to_replace=(), value="Town of Frederica")
#cities = cities.replace(to_replace=(), value="Town of Hartly")
#cities = cities.replace(to_replace=(), value="Town of Henlopen Acres")
#cities = cities.replace(to_replace=(), value="Town of Houston")
#cities = cities.replace(to_replace=(), value="Town of Kenton")
#cities = cities.replace(to_replace=(), value="Town of Leipsic")
#cities = cities.replace(to_replace=(), value="City of Lewes")
#cities = cities.replace(to_replace=(), value="Town of Little Creek")
#cities = cities.replace(to_replace=(), value="Town of Magnolia")
#cities = cities.replace(to_replace=(), value="Town of Millville")
#cities = cities.replace(to_replace=(), value="Town of Newport")
#cities = cities.replace(to_replace=(), value="Town of Odessa")
#cities = cities.replace(to_replace=(), value="City of Rehoboth Beach")
#cities = cities.replace(to_replace=(), value="Town of South Bethany")
#cities = cities.replace(to_replace=(), value="Town of Townsend")
#cities = cities.replace(to_replace=(), value="Town of Viola")
#cities = cities.replace(to_replace=(), value="Town of Woodside")

In [7]:
cities

          recipient_name  total_funding_amount assistance_type_description
0         Town of Blades             615000.00                         NaN
1         Town of Blades             100000.00                         NaN
2         Town of Bowers             484700.00                         NaN
3    Town of Bridgeville              25000.00                         NaN
4    Town of Bridgeville              25000.00                         NaN
..                   ...                   ...                         ...
116   City of Wilmington              56250.00           PROJECT GRANT (B)
117   City of Wilmington              24991.00           PROJECT GRANT (B)
118   City of Wilmington              24999.00           PROJECT GRANT (B)
119   City of Wilmington            2023949.67           PROJECT GRANT (B)
120   City of Wilmington            1601200.00                         NaN

[121 rows x 3 columns]

In [9]:
cities_grouped = cities.groupby("recipient_name").sum()